.top-content{
    width: 50%;
}
@keyframes rippleOne {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    70% {
        transform: scale(1);
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rippleTwo {
    0% {
        transform: scale(0.1);
        opacity: 0.2;
    }

    50% {
        transform: scale(1);
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.animate-ring1 {
    animation: rippleOne 3s ease-out infinite;
}

.animate-ring2 {
    animation: rippleTwo 3s ease-out infinite;
}
