
@keyframes rippleOne {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    70% {
        transform: scale(1);
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rippleTwo {
    0% {
        transform: scale(0.1);
        opacity: 0.2;
    }

    50% {
        transform: scale(1);
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.animate-ring1 {
    animation: rippleOne 3s ease-out infinite;
}

.animate-ring2 {
    animation: rippleTwo 3s ease-out infinite;
}

@keyframes orbitRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.mobile-orbit {
    animation: orbitRotate 22s linear infinite;
}

.mobile-orbit-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
}

@keyframes slowSpin {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.animate-slowSpin {
    animation: slowSpin 28s linear infinite;
}

@keyframes slowSpin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate-slowSpin {
    animation: slowSpin 28s linear infinite;
}

