.problem-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bottom-section {
    display: flex;
    flex-direction: row;
}


@media (max-width: 640px) {
    .bottom-section {
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 100%;
    }

    .image {
        width: 100%;
        margin-top: 20px;
    }

    .top-section {
        margin-bottom: 20px;
    }
}