@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

.instrument-sans {
  font-family: 'Instrument Sans', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

body {
    font-family: "Instrument Sans", sans-serif;
}

.main-container {
  max-width: 1390px;
  margin-inline: auto;
}

.glass {
  background-color: #29292970;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  /* border: 1px solid rgba(255, 255, 255, 0.25); */
  /* box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); */
}